<div id="dlnk-toast-container">
  <% if flash[:notice].present? %>
    <%= render "dlnk_toast/toast_message", type: :notice, message: flash[:notice] %>
  <% end %>

  <% if flash[:alert].present? %>
    <%= render "dlnk_toast/toast_message", type: :alert, message: flash[:alert] %>
  <% end %>
</div>
